<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/App/js/app.js"></script>
</body>
</html>
